body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container-qr {
    max-width: 600px;
}
.card {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.card-header {
    background-color: #007bff;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 1rem;
}
.card-body {
    padding: 1.5rem;
}
.card-body p {
    font-size: 1rem;
    color: #495057;
    margin-bottom: 0.5rem;
}
.footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}
